@import '../shared/common.scss';

.search-field {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    align-items: center; 
    width: 100%;
    height: 70px;
    background-color:white;
    border-bottom: 2px solid #d4d4d4;

    &_label {
        font-weight: 600;
        font-size: 14px;
        margin-right: 10px;
    }

    &_category {
        display: flex;
        align-items: center;
    }

}