@import '../shared/common.scss';

.header {
    width: 100%;
    height: 70px;
    background-color: $brand_color;

    &_logo {
        height: 100px;
        width: 100px;
        background-image: url('./logo.svg');
        background-repeat: no-repeat;
    }
}